/* user page  */
body {
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px) + 44px);
}
.zaui-header::after {
  height: unset !important;
}
.zaui-btn-icon-only .zaui-btn-icon .zaui-icon {
  font-size: 24px;
  color: white;
}
.zaui-modal-content-actions-vertical {
  flex-direction: unset;
  align-items: unset;
  justify-content: end;
}
.zaui-btn-tertiary,
.zaui-btn-tertiary.zaui-btn-highlight {
  color: rgb(218, 23, 23);
}
.page-custom-header {
  background-color: #27871c;
  color: white;
}
.custom-header-account {
  height: calc(
    var(--zaui-safe-area-inset-top, 0px) + 56px
  ); /* Thay 56px bằng giá trị chiều cao mong muốn */
  margin-bottom: 0;
  flex: none;
}
.image-account {
  width: 50px;
  border-radius: 30px;
}
/* end user page */

/* page loading  */
.page-loading {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 45px !important;
  margin: 0 auto;
  padding: 0px 10px;
}
/* end loading  */
/* notify  */
.full-notify {
  position: absolute;
  top: -6px;
  right: -9px;
  background-color: red;
  color: white;
  border-radius: 66%;
  padding: 0px 4px;
  font-size: 11px;
  text-align: center;
}
/* end notify  */
