.update-cart-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .update-cart-content {
    text-align: center;
  }
  
  .update-cart-image {
    width: 340px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .update-cart-message {
    color: #333;
  }
  .description-cart-message{
    font-size: 13px;
    color: #878686;
  }
  .btn-home-cart-update{
    background-color: #27871C;
    margin-top: 10px;
  }
  .btn-home-update:hover{
    background-color: #333;
    transition: 0.5s;
  }
  .item-cart-false{
    background: #359614;
    padding: 10px;
    border-radius: 8px;
    color: white;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  }
  .item-cart-true{
    background: #95ca84;
    padding: 10px;
    border-radius: 8px;
    color: #61915f;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  }
  .cart-order-code-false{
    text-align: center;
    color: #ffe233;
  }
  .cart-order-code-true{
    text-align: center;
    color: #61915f;
  }
  .update-cart-order-status{
    padding-right: 10px;
  }